// Addition styles.

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1270px;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  outline: none;
  width: 30px;
  height: 27px;
  background: transparent;

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    width: 100%;
    height: 3px;
    background: var(--color-white);
    transition: background 0.3s, transform 0.3s, opacity 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--color-yellow);
      transform: translateX(-100%);
      transition: transform 0.3s;
    }
  }

  &:focus {
    .burger__item {
      &::before {
        transform: translateX(0);
      }
    }
  }
}

.main-title {
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: calc(35px + (60 - 35) * ((100vw - 320px) / (1270 - 320)));
  line-height: calc(45px + (82 - 45) * ((100vw - 320px) / (1270 - 320)));
  color: var(--color-white);
}

.title {
  font-family: var(--font-nunito);
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: var(--color-dark);
}

.subtitle {
  font-family: var(--font-nunito);
  font-size: 29px;
  line-height: 40px;
  color: var(--color-gray-1);
}

.text {
  font-family: var(--font-nunito);
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-gray-2);
}

.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  padding: 11px calc(20px + (36 - 20) * ((100vw - 320px) / (1270 - 320)));
  background: var(--color-yellow);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--color-black);
    transform: translateY(100%);
    transition: transform 0.3s;
  }

  &__text {
    position: relative;
    z-index: 2;
    font-family: var(--font-nunito);
    font-size: calc(24px + (29 - 24) * ((100vw - 320px) / (1270 - 320)));
    line-height: 40px;
    color: var(--color-white);
  }

  &:hover::after {
    transform: translate(0);
  }
}

.visually-hidden {
  visibility: hidden;
}

// End addition styles.