:root {
  --font-nunito: 'Nunito', Arial, Helvetica, sans-serif;
  --font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #323232;
  --color-gray-1: #4a4a4a;
  --color-gray-2: #646464;
  --color-yellow: #ffc839;
  --color-blue: #093a7a;
}